.repository_xpert_url .colourradiobutton, .repository_xpert_url .fp-login-radio { padding: 5px;}
.repository_xpert_url .colourwhiteblack { background-color: #ffffff; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colourblackwhite { background-color: #000000; color: #ffffff; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colourgreyblack { background-color: #cccccc; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colourbluebrown { background-color: #c5effd; color: #231f20; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colourpeachbrown { background-color: #ecc5a8; color: #372f18; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colouryellowblack { background-color: #fefcd7; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .colourpinkblack { background-color: #ffe9e8; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; text-align: left; font-size: 11px;}
.repository_xpert_url .fp-login-radio {border-collapse: collapse; font-size: 5px; line-height: 5px; padding: 1px; text-align: left; width: 350px;}
